@charset "utf-8";

body{
  overflow-x: hidden;
}

li {
  list-style: none;
}

.pcHeader {
  box-shadow: 17px -6px 8px 1px #888;
  position: fixed;
  z-index: 1001;
  top: 0;
  background: #fff;
  width: 100%;
}

.pcHeader_flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.pcHeader_flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.logoBox {
  margin-left: 30px;
}

a {
  color: #143d70;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none;
}

.logoBox img {
  width: 100%;
  max-width: 125px;
  height: auto;
}

.pcHeader_flexBox ul {
  display: flex;
}

nav ul {
  list-style: none;
}

.pcHeader_flexBox li {
  margin: 0px 40px;
}

.pcHeader_flexBox .pcHeader_bgNav {
  background: #006da4;
  padding: 32px 30px;
  color: #fff;
}

.openingText {
  visibility: visible;
  opacity: 1;
  transition: opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.005s;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  z-index: 999;
}

.openingText h1 {
  text-align: center;
  line-height: 55px;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  text-shadow: #e6982a 1px 1px 13px, #e6982a -1px 1px 13px, #e6982a 1px -1px 13px, #e6982a -1px -1px 13px;
}

.openingText p {
  text-align: center;
  line-height: 25px;
  color: #fff;
  letter-spacing: -0.01em;
  font-size: 16px;
  font-weight: bold;
  border-top: solid 3px #fff;
  display: inline-block;
  margin: auto;
  text-shadow: #e6982a 1px 1px 13px, #e6982a -1px 1px 13px, #e6982a 1px -1px 13px, #e6982a -1px -1px 13px;
}

/* スライドショー */

.slide{
  width: 100%;
  height: 46vw;
  overflow: hidden;
  position: relative;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; /* 最初はすべての画像を非表示に */
  
  z-index: 10;
}

.slide_active {
  opacity: 1; /* アクティブなスライドのみ表示 */
  transition: opacity 1.5s ease; /* フェードのトランジションを設定 */
}

/* スライドショーボタン */
.slide-dots {
  text-align: center;
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 62px;
  z-index: 999;
}

.slide-dots .active {
  background: #5d5d5d;
  height: 7px;
}

.slide-dots li {
  cursor: pointer;
  width: 90px;
  margin: 0 15px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  height: 7px;
}

.slide-dots li button {
  cursor: pointer;
  position: relative;
  text-indent: -9999px 
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* section部分 */
.title_box {
  background: linear-gradient(transparent 90%, #e6982a 3px);
}

h2 {
  color: #e6982a;
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  position: relative;
  padding: 0 30px 0;
  max-width: 1200px;
  margin: 100px auto 0;
  letter-spacing: 0;
}

.ttl_ja {
  font-size: 18px;
  letter-spacing: .05em;
  color: #000;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

.bk_br {
  background-color: #e8edf3;
}

.box_main_inner {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;
}

.news_contents {
  padding: 20px 50px;
  padding-bottom: 40px;
  background: #fff;
  margin-bottom: 30px;
}

/* 最新情報 */
.news_contents a {
  display: block;
  border-bottom: solid 1px;
  padding: 20px 0px;
  position: relative;
  transition: .4s;
}

.news_contents span {
  border-radius: 3px;
  padding: 6px 20px;
  margin: 0 10px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  background-color: #f83c00;
}

.news_contents dd {
  color: #333;
  padding-top: 20px;
  display: block;
}

/* view more */
.btnBox {
  text-align: center;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  display: block;
}

.btnBox a {
  display: block;
  border: solid 1px;
  padding: 15px;
  background: #fff;
  position: relative;
  transition: .5s;
  font-weight: bold;
  text-align: left;
  width: 240px;
  margin: auto;
}

.btnBox a::after {
  content: url(../img/btn_arrow.jpg);
  position: absolute;
  right: 15px;
  top: 10px;
  transition: .5s;
}

/* 事業概要 */
#topService {
  margin-bottom: 0px;
}

.tabMenu {
  list-style: none;
  padding: 0;
  display: flex;
  position: relative;
  padding: 0;
  flex-wrap: wrap;
}

.tabMenu li {
  width: 33%;
}

.tabMenu li a {
  display: block;
  text-align: center;
  padding: 35px 0;
  margin: 0 1px;
  background: #fff;
  border: solid 1px #e6982a;
  color: #e6982a;
  text-decoration: none;
}

.tabMenu li a.active {
  position: relative;
  background: #e6982a;
  color: #fff;
}

.tabMenu li a:not(.active) {
  transition: 0.4s;
}

.content.active {
  color: #333333;
  padding: 0;
  display: block;
}

.img_box {
  width: 100%;
  height: 250px;
  text-align: center;
}

.img_box p {
  padding-top: 110px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 1.3em;
  text-shadow: #e6982a 1px 1px 13px, #e6982a -1px 1px 13px, #e6982a 1px -1px 13px, #e6982a -1px -1px 13px;
}

.flex_50_box {
  width: 50%;
}

.box_sp30_l {
  padding: 30px;
}

.logo_box {
  margin-bottom: 30px;
}

img.logo_fg001 {
  max-width: 300px;
}

p {
  line-height: 2em;
  font-size: 14px;
}

p.font_L {
  font-size: 20px;
  font-weight: bold;
}

.bk_fg001 {
  background-image: url(../img/bk_fg001.jpg);
  background-position: center;
  background-size: cover;
}

.flex_st {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.txt_R {
  text-align: right;
  width: 50%;
  background-color: #fff1e8;
}

.txt_L {
  text-align: left;
  width: 100%;
}

.posi_re {
  position: relative;
  padding: 30px 30px;
}

h3 {
  color: #e6982a;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 30px;
}

.flex_50_R {
  width: 50%;
  text-align: left;
  background-color: #fdfae2;
}

.flex_50 {
  max-width: 620px;
  width: 100%;
}

.box_sp30 {
  padding: 30px 30px;
}

ul.list li {
  background-image: url(../img/maru.png);
  background-position: left 0px top 3px;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-left: 18px;
  margin-bottom: 10px;
  line-height: 1.3em;
}

/* リハビリ */
.bk_reha {
  background-image: url(../img/bk_fg001.jpg);
  background-position: center -15vw;
  background-size: cover;
}

.box_main_inner {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;
}

/* コンサル */
.bk_con {
  background-image: url(../img/bk_fg001.jpg);
  background-position: center;
  background-size: cover;
}