@charset "utf-8";

body{
  overflow-x: hidden;
}

li {
  list-style: none;
}

.pcHeader {
  box-shadow: 17px -6px 8px 1px #888;
  position: fixed;
  z-index: 1001;
  top: 0;
  background: #fff;
  width: 100%;
}

.pcHeader_flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.pcHeader_flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.logoBox {
  margin-left: 30px;
}

a {
  color: #143d70;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
  text-decoration: none;
}

.logoBox img {
  width: 100%;
  max-width: 125px;
  height: auto;
}

.pcHeader_flexBox ul {
  display: flex;
}

nav ul {
  list-style: none;
}

.pcHeader_flexBox li {
  margin: 0px 40px;
}

.pcHeader_flexBox .pcHeader_bgNav {
  background: #006da4;
  padding: 32px 30px;
  color: #fff;
}

.openingText {
  visibility: visible;
  opacity: 1;
  transition: opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.005s;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  z-index: 999;
}

/* スライドショー */

.slide {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: auto;
  background: #fff;
}
.slide img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 30s ease infinite;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 10s;}
.slide img:nth-of-type(3) {animation-delay: 20s;}


@keyframes slide-anime{
  0% {left: 100%;}
  10% {left: 5%;}
  18% {left: 0;}
  35% {left: -100%;}
  100% {left: -100%;}
}

.slide{
  width: 100%;
  height: 46vw;
  overflow: hidden;
  position: relative;
}
.slide img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  /* フェード */
  opacity: 0;
  animation-name: fade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity: 0;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    z-index: 0;
  }
}
